$primaryColor: #1f1300;
$secondaryColor: #cc5803;
$fontColor: #333;

$defaultFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$menuColor: #eca400;
$gutter: 16px;

